<h1> <%= @outing.name %> <h1>
<h3> <%= @outing.location %> </h3>
<h3> <%= @outing.date %> </h3>
<h3>Count of Contestants: <%= @outing.contestant_count %> </h3>
<h2>Contestants: <%= @outing.contestant_names %> </h2>
